.header {
    width: 98.90vw;
    height: 56px;
    background-color: crimson;
    border: whitesmoke 1px solid;
}

ul {
    width: 30vw;
    height: 54px;
    list-style: none;
}

li {
    padding: 8px;
}

li:hover {
    background-color: black;
}
